@using System.Reflection
<Bar Padding="Padding.Is1" Background="Background.Light">
    <Heading TextAlignment="TextAlignment.Center" Width="Width.Is100" Size="HeadingSize.Is6">
        <Button Type="ButtonType.Link" To="mailto:nicbolton17@icloud.com" Color="Color.Primary" TextWeight="TextWeight.Bold" Outline>Contact</Button>
    </Heading>
</Bar>